@charset "UTF-8";

:root{
    --cor00: #000000;
    --cor01: #06077D;
    --cor02: #072987;
    --cor03: #003C71;
    --cor04: #076D87;
    --cor05: #FFCA00;
    --cor06: #067D75;
    --cor07: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: solid black ;
    /*background-image: linear-gradient(180deg, black,#fff);*/
    background-color: #000000;
    color: white;
}


header {
    /*background-color: var(--cor00);*/
    max-width: 1200px;
    height: 162px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    /*border: thick double blue;*/
    display: block; 
}

.logo{
    text-align: left;
    /*border: solid black;*/
    width: 140px;        
}

.titulo01 {
    /*border: solid black;*/
    height: 105px;
    text-align:center;
    max-width: 1050px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -160px;
    margin-bottom: 10px;
    margin-left: 150px;
}

header p {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


nav {
    /*border: thick double green ;*/
    padding: 0px;   
}

nav a {
    text-decoration: none; /*decoraçao - nada*/
    color: white; /*cor do texto*/
    font-size: 1em; /*tamanho da letra - 1x normal*/
    padding: 10px; /*espaço interno*/
    transition-duration: 0.5s; /*deley*/
    margin-right: 10px; /*espaço externo*/
    line-height: 40px; /*espaçamentos da linhas*/
    font-weight: bold; /*negrito*/
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    border: thick double var(--cor05) ;    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main p {
    text-align: justify;
    padding: 10px;
}

footer{
    /*border: thick double greenyellow;*/
    font-family: Arial, Helvetica, sans-serif;
}
